<form method="post" action="{{ action }}">
    <div class="form-group">
        <label class="control-label">Data de Lancamento</label>
        <input class="form-control" type="text" placeholder="DD/MM/YYYY"
               name="date_lauch" value="{{ bill.date_lauch | date('d/m/Y') }}">
    </div>
    <div class="form-group">
        <label class="control-label">Nome</label>
        <input class="form-control" type="text" placeholder="Nome"
               name="name" value="{{ bill.name }}">
    </div>
    <div class="form-group">
        <label class="control-label">Valor</label>
        <input class="form-control" type="text" placeholder="0.000,00"
               name="value" value="{{ bill.value | number_format(2,',', '.') }}">
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        <span class="glyphicon glyphicon-{{ submitIcon }}"></span>
    </button>
</form>