{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Ver usuário
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{ router('users.edit', {'id' : user.id}) }}"
                               class="btn btn-primary">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="{{ router('users.delete', {'id' : user.id}) }}"
                               class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th scope="row">#</th>
                                        <td>{{ user.id }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Nome</th>
                                        <td>{{ user.first_name ~ ' ' ~ user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">E-mail</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}